Python and Virtual Environment
.venv/
pycache/
*.pyc
*.pyo
*.pyd
.Python
pip-log.txt
pip-delete-this-directory.txt

PyCharm
.idea/
*.iml

macOS
.DS_Store
.AppleDouble
.LSOverride
Icon
._*

Packaging
/dist
/build
*.egg-info/
*.egg

Testing
.pytest_cache/
coverage/
*.cov
*.xml
*.lcov

Documentation
docs/_build/
docs/_static/
docs/_templates/

Miscellaneous
*.log
*.swp
*.swo
*.bak
*.tmp
*.env
.env
*.local
/.idea/
